.profile-update {
  /* display: flex;
  flex-direction: column-reverse; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .profile-update .edit-name {
  display: flex;
  flex-direction: column;
} */

/* input {
  color: #c3cfd9;
  background-color: #ffffff;
  border: 5px solid #b8c4ce;
} */
/* .main {
  background-color: #e0e6ed;
} */
