.profile-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-update .edit-name {
  display: flex;
  gap: 15px;
}

/* .profile-update .edit-name {
  display: flex;
  flex-direction: column;
} */

.profile-update .edit-name input {
  color: #c3cfd9;
  background-color: #ffffff;
  border: 3px solid #b8c4ce;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  color: #283845;
}

.profile-update .btn {
  /* gap: 15px; */
  display: flex;
}

.profile-update .btn button {
  padding: 10px 40px;
  color: #6a5ef5;
  border: 3px solid #6a5ef5;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 2px;
  margin-left: 15px;
}

@media (max-width: 720px) {
  .profile-update .edit-name input {
    font-size: 13px;
  }

  .profile-update .btn button {
    font-size: 11px;
  }
}
